################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
*.suo
*.user
/.vs/Heibroch.Launch/DesignTimeBuild
/.vs/Heibroch.Launch/v17/.futdcache.v1
/Heibroch.Launch/obj
/Heibroch.Launch/bin
/Heibroch.Launch.Tests/obj
/Heibroch.Launch.Tests/bin
/Heibroch.Launch.Plugins.RemoteDesktop/obj
/Heibroch.Launch.Plugins.RemoteDesktop/bin
/Heibroch.Launch.Plugins.Reloader/obj
/Heibroch.Launch.Plugins.Reloader/bin
/Heibroch.Launch.Plugins.Copy/obj
/Heibroch.Launch.Plugins.Copy/bin
/Heibroch.Launch.Plugin/obj
/Heibroch.Launch.Plugin/bin
/Heibroch.Launch.Interfaces/obj
/Heibroch.Launch.Interfaces/bin
/Heibroch.Launch.Installer/Debug
/Heibroch.Launch.Installer/Release
/Heibroch.Launch.Events/bin
/Heibroch.Launch.Events/obj
/Heibroch.Launch.Model/bin
/Heibroch.Launch.Model/obj
/.vs
/UpgradeLog.htm
